h1 {
  font-family: 'Dosis';
  margin-top: 2.5rem;
  font-size: 1.8rem;
  margin-bottom: 1.5em;

  font-weight: 700;
  letter-spacing: 0.1rem;
  /* color: rgb(241, 173, 173); */
  color: #226d45;
  text-align: center;
}

ul li::before {
  content: '✤';
  margin-right: 0.6rem;
  color: #3d405b;
}

li {
  list-style-type: none;
}

ul {
  margin-top: 1rem;
  list-style-type: none;
  margin-bottom: 3rem;
  font-family: 'Dosis', sans-serif;
  /* color: rgb(54, 54, 54); */
  color: #3d405b;
  line-height: 2.2rem;
  font-size: 1.1rem;
  list-style-type: disc;
  padding-right: 2rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

p {
  font-family: 'Dosis', sans-serif;
  color: #3d405b;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
}
.App {
  min-height: 100vh;
  background-color: #81b29a;
  /* background-color: #7bc5ae; */
}

.search-form {
  min-height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  padding: 0;
  width: 20rem;
  border: none;
  height: 40px;
  font-size: 1.3rem;
  border-radius: 2rem;
  font-family: 'Dosis', sans-serif;

  background-color: rgb(248, 248, 248);
  /* box-shadow: 0px 1px 2px rgba(39, 39, 39, 0.863); */
}

input.search-bar:focus {
  outline: none;
}

button.search-button:focus {
  outline: none;
}

input.search-bar[type='text'] {
  box-sizing: border-box;
  padding-left: 1.2rem;
}

.search-button {
  border: none;
  /* background-color: #028C6A; */
  background-color: #3d405b;
  border-radius: 12rem;
  padding: 0rem 1rem;
  font-size: 1.1rem;
  font-family: 'Dosis';
  margin-left: 1.5rem;
  font-weight: 100;
  color: #f5eaea;
  height: 40px;

  letter-spacing: 0.08rem;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.recipes_container {
  width: 85%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}
@media screen and (max-width: 574px) {
  .search-bar {
    width: 17rem;
  }
}
@media screen and (max-width: 444px) {
  .search-bar {
    width: 14rem;
  }
}
@media screen and (max-width: 362px) {
  .search-bar {
    width: 12rem;
  }

  .search-button {
    margin-left: 1rem;
  }

  input.search-bar[type='text'] {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
