h1 {
  font-family: 'Fugaz One', cursive;
  margin-top: 2.5rem;
  margin-bottom: 1.5em;
  font-weight: 200;
  color: rgb(51, 51, 51);
}
ul {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-family: 'Dosis', sans-serif;
  color: rgb(54, 54, 54);
  line-height: 1.7rem;
  font-size: 1.2rem;
  list-style-type: disc;
  padding-right: 2rem;
  font-weight: 600;
  letter-spacing: 0.037rem;
}

p {
  font-family: 'Dosis', sans-serif;
  color: rgb(109, 109, 109);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
}
.App {
  min-height: 100vh;
  background-image: linear-gradient(195deg, #350a2e, #72516c);
}

.search-form {
  min-height: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  padding: 0;
  width: 25rem;
  border: none;
  height: 35px;
  font-size: 1.3rem;
  font-family: 'Dosis', sans-serif;
  /* border-radius: 10rem; */
  background-color: rgb(247, 236, 223);
}

input.search-bar:focus {
  outline: none;
}

button.search-button:focus {
  outline: none;
}

input.search-bar[type='text'] {
  box-sizing: border-box;
  padding-left: 1.2rem;
}

.search-button {
  border: none;
  background-color: rgb(109, 216, 235);
  padding: 0rem 1rem;
  font-size: 1.2rem;
  border: 3px rgb(28, 28, 29) solid;
  margin-left: 1.7rem;
  font-weight: 900;
  color: rgb(70, 67, 67);
  height: 40px;
  font-family: sans-serif;
  letter-spacing: 0.06rem;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.recipes_container {
  width: 70%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

@media screen and (max-width: 1900px) {
  recipes_container {
    width: none;
  }
}
