.recipe {
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
  margin-bottom: 6rem;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(97, 26, 73);

  align-items: center;
  width: 40%;
}

.image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  /* border: rgb(54, 54, 54) solid 3px; */
  box-shadow: 0px 5px 5px rgb(71, 71, 71);
  margin-bottom: 4rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1736px) {
  ul {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1140px) {
  .recipe {
    width: 60%;
  }
}

@media screen and (max-width: 1134px) {
  .recipe {
    width: 80%;
  }
}
