.recipe {
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
  margin-bottom: 6rem;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: rgb(97, 26, 73); */
  background-color: rgb(255, 255, 255);
  border: rgb(179, 179, 179) solid 1px;

  align-items: center;
  width: 40%;
}

.image {
  width: 220px;
  height: 220px;
  /* border-radius: 50%; */
  border: rgb(155, 153, 153) solid 1px;
  box-shadow: 0px 5px 5px rgb(71, 71, 71);
  margin-bottom: 4rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1736px) {
  ul {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }
  .recipe {
    width: 42%;
  }
}

@media screen and (max-width: 1140px) {
  .recipe {
    width: 60%;
  }
}

@media screen and (max-width: 1134px) {
  .recipe {
    width: 80%;
  }
}

@media screen and (max-width: 574px) {
  .recipe {
    width: 90%;
  }
  ul {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  h1 {
    font-size: 1.3rem;
    margin-left: 0.5;
  }
}
